<!DOCTYPE html>
<html ng-app="game">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/ng-grid.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="../css/ng-grid.css"/>
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	</head>
	<body ng-controller="statsController as stats">
   		<div class="modal-header">
   	    	<h3 class="modal-title">Edit Attribute</h3>
     	</div>
  		<div class="modal-body" >
        	<form>
				<table>
					<tr><td>Code</td><td><input type="text" data-ng-model="item.code" ng-minlength="1" ng-maxlength="1" pattern="." ng-required/></td></tr>
          			<tr><td class="lbl">Short Form</td><td><input type="text" data-ng-model="item.shortForm" ng-minlength="3" ng-maxlength="3" ng-required/></td></tr>
          			<tr><td>Long Form</td><td><input type="text" data-ng-model="item.longForm"/></td></tr>
          			<tr><td>Multiplier</td><td><input type="number" data-ng-model="item.multiplier" ng-min="1" ng-max="4" ng-required/></td></tr>
       				<tr>
						<td></td>
						<td>
							<button class="primary" data-ng-click="ok()">save</button>
   	     					<button class="primary" data-ng-click="cancel()">cancel</button>
						</td>
					</tr>
				</table>
       	 	</form>
   		</div>
		<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script> -->
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="js/ng-grid.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="../js/angular.js"></script>
		<script type="text/javascript" src="../js/jquery-2.1.1.js"></script>
		<script type="text/javascript" src="../js/ng-grid.js"></script>
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/ui-bootstrap-tpls-0.11.2.js"></script>
	</body>
</html>